span{
	display: inline-block; 
}
.smallText{
	font-size: 10pt;
}
.mediumText{
	font-size: 14pt;
}
.bigText{
	font-size: 18pt;
}
.colorRed{
	color: red;
}
.colorBlue{
	color: blue;
}

.backYellow{
	border: 1px solid black;
	background-color: yellow; 
}

.rotateLeft{
	transform: rotate(-5deg);
}

.rotateRight{
	transform: rotate(5deg);
}

.skewLeft{
	transform: skewX(10deg);
}
.skewRight{
	transform: skewX(-10deg);
}